<h2>Add Review</h2>

<form method="post">

    <input type="text" name="UserName" placeholder="Your Name" required />

<textarea name="Comment" placeholder="Write your review"></textarea>

    <select name="Rating">
        <option value="5">⭐⭐⭐⭐⭐</option>
        <option value="4">⭐⭐⭐⭐</option>
        <option value="3">⭐⭐⭐</option>
        <option value="2">⭐⭐</option>
        <option value="1">⭐</option>
    </select>

    <button type="submit">Submit Review</button>

</form>